body {
	background: #000;
	font-family: Arial, Sans-Serif;
	color: #FFFFFF;
}
canvas {
	background: #fff;
	border: 2px solid white;
	border-radius: 8px;
}

#stage {
	width: 600px;
	margin: 20px auto 0;
}

#instructions {
	float: left;
	width: 400px;
}